In [1]:
%matplotlib inline

import pandas as pd

r = pd.read_csv( 'ratings.csv' )
tr = pd.read_csv( 'to_read.csv' )
b = pd.read_csv( 'books.csv' )

t = pd.read_csv( 'tags.csv' )
bt = pd.read_csv( 'book_tags.csv')

In [2]:
t.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [3]:
len(t)

34252

In [4]:
bt.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [5]:
bt = bt.merge( t, on = 'tag_id' )

In [6]:
bt = bt.merge( b[[ 'goodreads_book_id', 'title']], on = 'goodreads_book_id' )

In [7]:
bt['count'].describe()

count    999912.000000
mean        208.869633
std        3501.265173
min          -1.000000
25%           7.000000
50%          15.000000
75%          40.000000
max      596234.000000
Name: count, dtype: float64

In [8]:
bt.loc[ bt['count'] < 0, 'count'] = 0

In [9]:
bt.sample( 10, weights = 'count')

,goodreads_book_id,tag_id,count,tag_name,title
553394,773038,30574,43980,to-read,The Seven Spiritual Laws of Success: A Practic...
704194,7235533,30574,113159,to-read,"The Way of Kings (The Stormlight Archive, #1)"
764294,10054335,30574,27500,to-read,Rules of Civility
936456,20696006,30574,72546,to-read,Being Mortal: Medicine and What Matters in the...
44300,5297,30574,358381,to-read,The Picture of Dorian Gray
930064,19346451,32989,156,ya,"The Revenge of Seven (Lorien Legacies, #5)"
401700,153747,30574,255686,to-read,"Moby-Dick or, The Whale"
706015,7307503,31617,737,urban-fantasy,"Archangel's Consort (Guild Hunter, #3)"
127612,15881,18886,3650,magic,Harry Potter and the Chamber of Secrets (Harry...
967912,23719378,30574,32666,to-read,"Girl Waits with Gun (Kopp Sisters, #1)"

The popular tags are

In [10]:
tag_counts = bt.groupby( 'tag_name' ).tag_name.count().sort_values( ascending = False )
tag_counts.head( 20 )

tag_name
to-read              9983
favorites            9881
owned                9858
books-i-own          9799
currently-reading    9776
library              9415
owned-books          9221
fiction              9097
to-buy               8692
kindle               8316
default              8239
ebook                8054
my-books             7561
audiobook            7242
ebooks               7203
wish-list            7192
my-library           7000
audiobooks           6862
i-own                6670
adult                6604
Name: tag_name, dtype: int64